<h1>This is the Users Show page</h1>
<%= @user.email %>
<%= @user.first_name%>
<br>

<h2>Past Events:</h2>
<% @user.attended_events.where("event_date < ?", Date.today).each do |event|%>
    <%= link_to event.title, event_path(event.id)%>
    <br>
<% end %>

<h2>Events I am going to today:</h2>
<% @user.attended_events.where("event_date = ?", Date.today).each do |event|%>
    <%= link_to event.title, event_path(event.id)%>
    <br>
<% end %>

<h2>Future Events: </h2>
<% @user.attended_events.where("event_date > ?", Date.today).each do |event|%>
    <%= link_to event.title, event_path(event.id)%>
    <br>
<% end %>





