<div class="container-fluid vh-100 d-flex flex-column justify-content-center row">
  <div class= "col-10 col-md-5 col-lg-6 col-xl-10 align-self-center bg-white p-4 justify-content-center d-flex flex-column rounded align-items-center">
    <div class="user-avatar d-flex flex-column align-items-center m-4">
        <% if @user.avatar.attached? %>
            <%= image_tag(@user.avatar.representation(resize_to_fill: [100, 100]), class: "rounded-circle") %> 
        <% else %>
            <%= image_tag("default-avatar.jpg", size: '100x100', class: "rounded-circle")  %>
        <% end %>
        <h1><%= @user.first_name%></h1>
    </div>


    <br>
    <div class="show-body d-flex flex-column">
        <div class="created-events m-4">
            <h2>Created Events</h2>
            <% Event.where("creator_id == ?", @user.id ).each do |event|%>
                <%= link_to event.title, event_path(event.id)%>
                <br>
            <% end %>
        </div>
        <br>

        <div class="attended-events m-4">
            <h2>Events I have Attended</h2>
            <% @user.attended_events.where("event_date < ?", Date.today).each do |event|%>
                <%= link_to event.title, event_path(event.id)%>
                <br>
        <% end %>
        </div>
        
        <div class="attending-events m-4">
        <h2>Events I am going to today</h2>
        <% @user.attended_events.where("event_date = ?", Date.today).each do |event|%>
            <%= link_to event.title, event_path(event.id)%>
            <br>
        <% end %>
        </div>
        
        <div class="future-events m-4">
            <h2>Events that I am going to in the future </h2>
            <% @user.attended_events.where("event_date > ?", Date.today).each do |event|%>
                <%= link_to event.title, event_path(event.id)%>
                <br>
            <% end %>
        </div>
    </div>
    </div>
</div>
