<% if @user.avatar.attahed? %>
  <%= image_tag(@user.avatar.representation(resize_to_limit: [100, 100]), class: "rounded-circle") %> 
  <% else %>
   <%= image_tag("default-avatar.jpg", size: '100x100', class: "rounded-circle")  %>
<% end %>


<br>
<h2>Created Events</h2>
<% Event.where("creator_id == ?", @user.id ).each do |event|%>
<%= link_to event.title, event_path(event.id)%>
    <br>
<% end %>
<br>
<h2>Past Events:</h2>
<% @user.attended_events.where("event_date < ?", Date.today).each do |event|%>
    <%= link_to event.title, event_path(event.id)%>
    <br>
<% end %>

<h2>Events I am going to today:</h2>
<% @user.attended_events.where("event_date = ?", Date.today).each do |event|%>
    <%= link_to event.title, event_path(event.id)%>
    <br>
<% end %>

<h2>Future Events: </h2>
<% @user.attended_events.where("event_date > ?", Date.today).each do |event|%>
    <%= link_to event.title, event_path(event.id)%>
    <br>
<% end %>