

<div class="h-screen flex flex-col items-center justify-center">
<h1 class="m-4">Create a thyme//capsule</h1>
<%= form_with model: @event do |form| %>
  <%= form.label :title, "Title: "%>
  <br>
  <%= form.text_field :title %>
  <br>
  <br>
  <%= form.label :description, "Description: "%>
  <br>
  <%= form.text_area :description, size: "60x10" %>
  <br>
   <br>
  <%= form.label :event_date_time, "Event Date and Time: "%>
   <br>
  <%= form.datetime_select :event_date_time %>
   <br>
  <%= form.submit %>
<% end %>
</div>
