

<div class="h-screen flex flex-col items-center justify-center">
<h1 class="m-4">Create a thyme//capsule</h1>
<%= form_with model: @event do |form| %>
  <%= form.label :title, "Title: "%>
  <br>
  <%= form.text_field :title %>
  <br>
  <br>
  <%= form.label :description, "Description: "%>
  <br>
  <%= form.text_area :description, size: "60x10" %>
  <br>
   <br>
  <%= form.label :event_date, "Date: "%>
   <br>
  <%= form.date_select :event_date %>
   <br>
   <%= form.label :event_time, "Time: "%>
   <br>
  <%= form.time_field :event_time %>
   <br>
    <%= form.file_field :event_header %>
   <br>
  <%= form.submit %>
<% end %>
<% @event.errors.each do |error|%>
  <li class="text-danger m-2"><%= error.full_message%></li>
<% end %>
</div>
