<div class="flex flex-col items-start m-6">
  <h2 class="text-4xl mb-2"><%= @event.title %>
  </h2>
  <p class="mb-8"><%= @date%></p>
  <p><%= @event.description %></p>

  <p><%= image_tag(@event.event_header.representation(resize_to_limit: [500, 500])) %></p>

  <p><%= @time%></p>
</div>
<br>
<h3>Attendees:</h3>
<% @event.attendees.all.each do |attendee|%>
    <%= attendee.email%>
    <br>
    
<% end %>
<%= link_to "Attend?", attend_event_path(@event.id)%>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

