<div class="m-5">

    <div class="flex flex-col items-start">
      <h2 class="text-4xl mb-2"><%= @event.title %>
      </h2>
      
      
      <% if @event.event_header.attached? %>
        <p><%= image_tag(@event.event_header.representation(resize_to_limit: [500, 500])) %></p>
      <% else %>
        <p>No Image to show!</p>
      <% end %>
      <p class="fs-6"><%= @event.description %></p>
      

      <p class="text-body-secondary"><%= @date%> @ <%= @time%></p>


    </div>

    <h6>Created By <%= link_to @event.creator.first_name, user_path(@event.creator.id)%> <%= button_to "Edit", edit_event_path, method: :get, form_class: "btn btn-primary btn-sm" %> </h6>
      <% if @event.creator == current_user %>
        
      <% else %>
      <% end %>
    <br>
    <h3>Attendees</h3>
    <% @event.attendees.all.each do |attendee|%>
        <%= link_to attendee.first_name, user_path(attendee.id)%>
        <br>
        
    <% end %>
    <% if @event.attendees.include?(@user) %>
      <%= link_to "Unattend?", unattend_event_path(@event.id)%>
    <% else %>
      <%= link_to "Attend?", attend_event_path(@event.id)%>
    <% end %>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

</div>
